.social-media {
  width: 100%;
  display: flex;
  margin-bottom: 10%;
}

.social-icon {
  width: 110.91px;
  height: 58.92px;
  background: #FFFFFF;
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
