
.overview {
  display: grid;
  // grid-template-columns: 2fr 1fr;
  gap: 1.5rem;

  div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  };

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
  }
}
