@import '../../../../assets/styles/variables.scss';

// ======= Variáveis Extras =======
$container-width: 1200px;
$post-min-width: 300px;
$spacing-lg: 2rem;
$spacing-md: 1.5rem;
$spacing-sm: 0.5rem;
$border-radius: 10px;
$box-shadow-light: 0 2px 5px rgba(0, 0, 0, 0.05);
$box-shadow-hover: 0 5px 15px rgba(0, 0, 0, 0.1);

// ======= Mixins =======
@mixin button-style($bg-color) {
  display: inline-block;
  background: $bg-color;
  color: #fff;
  padding: $spacing-sm $spacing-md;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background 0.3s ease-in-out;

}

@mixin box-shadow-style {
  box-shadow: $box-shadow-light;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: $box-shadow-hover;
  }
}

// ======= Container Principal =======
.main-container {
  width: 100%;
}

// ======= Container Centralizado =======
.auth-container {
  max-width: $container-width;
  margin: 0 auto;
}

// ======= Estilos do Blog =======
.blog-content {
  padding: $spacing-lg;
  border-radius: $border-radius;

  // Título do Blog
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
  }

  // Subtítulo e descrição
  .subtitle, p.subtitle {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: var(--dark-blue);
  }

  // Parágrafos Gerais
  p {
    text-align: center;
    font-size: 1.1rem;
    color: var(--text-color);
  }
}

// ======= Layout dos Posts =======
.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($post-min-width, 1fr));
  grid-gap: $spacing-lg;
  margin-top: $spacing-lg;

  .post {
    background: var(--pop-bg);
    padding: $spacing-md;
    border-radius: 8px;
    @include box-shadow-style;
    cursor: pointer;

    // Título de cada post
    h2 {
      font-size: 1.75rem;
      margin-bottom: $spacing-sm;
      color: var(--text-color);
    }

    // Resumo do post
    p {
      font-size: 1rem;
      color: var(--text-color);
      line-height: 1.5;
      margin-bottom: $spacing-sm;
    }

    // Botão "Ler mais"
    .read-more {
      @include button-style(var(--primary-color));
    }
  }
}
