<app-header-public></app-header-public>
<div class="main-container">
  <div class="auth-container">
    <div class="blog-content">
      <h1>{{ 'COMPONENTS.BLOG.TITLE' | translate }}</h1>
      <p>Bem-vindo ao Blog!</p>
      <section class="posts">
        <article class="post" *ngFor="let post of posts">
          <h2>{{ post.title }}</h2>
          <p>{{ post.summary | truncate:150 }}</p>
          <a (click)="openPostDialog(post)" class="read-more">Ler mais</a>
        </article>
      </section>
    </div>
  </div>
</div>
