
@import 'material-theme';
@import 'variables';
@import 'mixins';
@import 'themes';
@import 'global';

// Aplica o tema padrão (claro) ao :root
:root {
  @include theme-styles($light-theme);
  --card-bg-color: var(--card-bg);
  --card-shadow-color: rgba(0, 0, 0, 0.05);
  --body-color: $body-color;
}

// Estilos para o modo escuro
.dark {
  @include theme-styles($dark-theme);
  background-color: var(--body-color);
  color: var(--text-color);
  --card-bg-color: var(--card-bg);
  --card-shadow-color: rgba(255, 255, 255, 0.1);
}
