.card {
  background-color: var(--card-bg-color);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: var(--card-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    color: var(--text-color);
  }

  .amount {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--primary-color);
  }

  .info {
    font-size: 0.9rem;
    // color: var(--secondary-color);
  }

  .positive {
    color: var(--accent-color);
  }

  .negative {
    color: var(--negative-color);
  }
}
