
.recent-transactions {
  background-color: var(--card-bg-color);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: var(--card-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    h3 {
      font-size: 1.2rem;
      margin: 0;
      color: var(--text-color);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      padding: 0.8rem 0;
      border-bottom: 1px solid var(--border-color);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--hover-bg);
      }

      &:last-child {
        border-bottom: none;
      }

      .transaction-title {
        flex: 2; // Ocupa o dobro do espaço, alinhado à esquerda
        font-weight: 500;
        color: var(--text-color);
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        min-width: 0;
      }

      .transaction-amount,
      .transaction-date,
      .transaction-status {
        flex: 1;             // Ocupam igual largura, alinhados à direita
        text-align: right;
      }

      .transaction-amount {
        font-size: 1rem;
        font-weight: 600;
        color: var(--primary-color);
      }

      .transaction-date {
        font-size: 0.85rem;
      }

      .transaction-status {
        font-size: 0.8rem;
        text-transform: capitalize;

        &.completed {
          color: #328525;
        }

        &.pending {
          color: #dc3545;
        }
      }
    }
  }
}
