.container1 {
  width: min(95vw, 1200px);
  margin: auto;
}

#balanco{
  margin-top: -5rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card{
  min-width: 300px;
  background: #F5F5F5;
  border-radius: 10px;
  padding: 1.5rem 2rem;

  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: 20px;
  color: var(--dark-blue);
}

.card p{
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.card h3{
  /*font-weight: normal;*/
  font-size: 1rem;
}

.card.total{
  background: #49AA26;
  color: white;
}

/*ICONS CARD*/

.img-icon-responsive{
  float: right;
  margin-top: -30px;
}

.add{
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--dark-blue);
  font-size: 20px;
  font-weight: normal;
  margin-left: 20px;
}

.img-add{
  width: 30px;
  height: 34px;
  margin-right: 10px;
  color: #49AA26;

}

/*Tabela*/

#dados-tabela{
  width: 100%;
  border-spacing: 0 0.5rem;
  font-size: 16px;
  color: #969CB2;
  padding: 0 20px;
}

table thead tr th:first-child,
table tbody tr td:first-child{
  border-radius: 0.25rem 0 0 0.25rem;
}

table tbody td {
  background: white;
  padding: 1rem 2rem;
  /*Tipo letra tabela*/
  font-weight: bold;
}
table tbody tr{
  opacity: 0.7;
  color: #363F5F;
}

table tbody tr:hover {
  opacity: 1;
}

table thead th {

  /*font-weight: normal;*/
  padding: 1rem 2rem;
  font-size: 16px;
  text-align: left;
  color: #969CB2;
}

td.descricao{
  color: var(--dark-blue);
}

td.ganho{
  color: #12a454;
}

td.gasto{
  color: #e92929;
}

td.altera-apaga{

  height: auto;

}
.icons{
  display: flex;
  /*justify-content: center;*/
  align-items: center;
}

.alterar{
  height: 21px;
  width: 21px;
  border-radius: 0px;
  margin-right: 10px;
}

.alterar:hover{
  opacity: 0.6;
}

.apagar{
  height: 30px;
  width: 19px;
  border-radius: 0px;
  color: #FF0000;
}
.apagar:hover{
  opacity: 0.6;
}






