<div class="saving-plan">
  <div class="section-header">
    <h3>Saving Plan</h3>
    <button mat-icon-button (click)="openCreateDialog()" aria-label="Adicionar saving plan">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ul>
    <li *ngFor="let plan of plans">
      <div class="plan-title">{{ plan.Descricao }}</div>
      <div class="plan-amount">
        {{ plan.ValorAtual | number:'1.2-2' }}€ / {{ plan.ValorAlvo | number:'1.2-2' }}€
      </div>
      <div class="plan-progress">
        {{ (plan.ValorAtual / plan.ValorAlvo) * 100 | number:'1.0-0' }}%
      </div>
    </li>
  </ul>
</div>
