<div class="dialog">
  <h2>{{ isBudget ? 'Novo Orçamento' : 'Nova Meta' }}</h2>
  <div class="dialog-content">
    <form>
      <div class="form-field full-width">
        <label for="descricao">Descrição</label>
        <input id="descricao" type="text" [(ngModel)]="newPlan.descricao" name="descricao" required autofocus
          [ngClass]="{'invalid': formSubmitted && !newPlan.descricao}">
        <div *ngIf="formSubmitted && !newPlan.descricao" class="error-message">
          Este campo é obrigatório.
        </div>
      </div>

      <div class="form-field full-width">
        <label for="category">Categoria</label>
        <select id="category" [(ngModel)]="newPlan.categoryId" name="category" required
          [ngClass]="{'invalid': formSubmitted && !newPlan.categoryId}">
          <option value="" disabled selected>Selecione uma categoria</option>
          <option *ngFor="let category of categories" [value]="category.value">
            {{ category.text }}
          </option>
        </select>
        <div *ngIf="formSubmitted && !newPlan.categoryId" class="error-message">
          Este campo é obrigatório.
        </div>
      </div>

      <div class="form-field full-width">
        <label for="valorAlvo">{{ isBudget ? 'Valor Orçado' : 'Valor Alvo' }}</label>
        <input id="valorAlvo" type="number" [(ngModel)]="newPlan.valorAlvo" name="valorAlvo" required
          [ngClass]="{'invalid': formSubmitted && (!newPlan.valorAlvo || newPlan.valorAlvo <= 0)}">
        <div *ngIf="formSubmitted && (!newPlan.valorAlvo || newPlan.valorAlvo <= 0)" class="error-message">
          Deve ser superior a 0.
        </div>
      </div>

      <div class="form-field full-width">
        <label for="dataLimite">Data Limite</label>
        <input id="dataLimite" type="date" [(ngModel)]="newPlan.dataLimite" name="dataLimite" required
          [ngClass]="{'invalid': formSubmitted && !newPlan.dataLimite}">
        <div *ngIf="formSubmitted && !newPlan.dataLimite" class="error-message">
          Este campo é obrigatório.
        </div>
      </div>
    </form>
  </div>
  <div class="dialog-actions">
    <button type="button" (click)="onCancel()">Cancelar</button>
    <button type="button" (click)="onCreate()">Criar</button>
  </div>
</div>
