
.sign-in-form {
  z-index: 2;
}

.input-field {
  width: 100%;
  background: #EAF0F7;
  margin: 10px 0;
  height: 55px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
  color: #aaa;
  .dark & {
    background: var(--input-bg);
    input:-webkit-autofill {
      -webkit-text-fill-color: var(--text-color) !important;
      transition: background-color 5000s ease-in-out 0s !important;
    }
  }

}




.input-field i {
  text-align: center;
  line-height: 55px;
  color: #4F555A;
  transition: 0.5s;
  font-size: 1.1rem;

  .dark & {
    color: var(--text-color);
  }
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 400;
  font-size: 1.1rem;
  color: #8C8C8C;

  .dark & {
    color: var(--text-color);
  }

}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;

  .dark & {
    color: var(--toggle-color);
  }
}

.recover-password {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.1em;
  color: #C7C7C7;
  text-decoration: none;

  .dark & {
    color: var(--text-color);
  }
}

.btn-submit {
  width: 100%;
  height: 62px;
  margin-top: 50px;
  background: #4461F2;
  box-shadow: 0px 12px 21px 4px rgba(68, 97, 242, 0.15);
  border-radius: 10px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0.09em;
  border: none;
  cursor: pointer;

  .dark & {
    background: var(--primary-color);
    color: var(--text-color);
  }
}

.or {
  margin: 35px 0;
  font-weight: 400;
  color: #9f9f9f;

  .dark & {
    color: var(--text-color);
  }
}

.or:after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #cecece;
  margin-top: -10px;
  z-index: 0;

  .dark & {
    background: var(--toggle-color);
  }
}

.or span {
  display: block;
  background: #fff;
  width: 120px;
  margin: auto;
  position: relative;
  z-index: 2;
  padding-left: 10px;

  .dark & {
    background: var(--body-color);
    color: var(--text-color);
  }
}

.slogan {
  margin: 0px 20px;
  height: 80px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: rgba(43, 43, 43, 0.5);

  .dark & {
    color: var(--text-color);
  }
}

.error-message {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
  margin-left: 10px;
  display: flex;

  .dark & {
    color: var(--error);
  }
}
