.header {
  max-width: 100%;
  background: var(--secondary-color);
  padding: 2rem 24rem 10rem;
  display: flex;
  justify-content: center;
}

#logo {
  // filter: invert(1);
  width: 416px;
  height: 45px;
}
